.button {
  align-items: center;
  border-radius: 2.4rem;
  border: 2px solid inherit;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: center;
  padding: $space-4 $space-7;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button--primary, 
.button--alt,
.button--third {
  background-color: var(--green-dark);
  color: var(--white);

  span {
    margin-left: $space-4;
  }

  &:hover, &:focus {
    background-color: var(--white);
    color: var(--green-dark);
    text-decoration: none;
  }

  &:hover:after, &:focus:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1px;
    bottom: 0px;
    border: 4px solid var(--green-dark);
    border-radius: 2.4rem;
  }

}

.button--alt {
  background-color: var(--purple-dark);

  &:hover, &:focus {
    color: var(--purple-dark);
  }

  &:hover:after, &:focus:after {
    border: 4px solid var(--purple-dark);
  }
}

.button--third {
  background-color: var(--yellow-bright);
  color: var(--neutral-1);

  &:hover, &:focus {
    color: var(--neutral-1);
    background-color: var(--yellow-bright);
  }

  &:hover:after, &:focus:after {
    border: 4px solid var(--neutral-1);
  }
}