.button {
  align-items: center;
  border-radius: 2.4rem;
  border: 0;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: center;
  padding: $space-4 $space-7;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button--primary, 
.button--alt {
  background-color: var(--green-dark);
  color: var(--white);

  span {
    margin-left: $space-4;
  }

  &:hover,
  &:focus {
    color: var(--white);
  }
}

.button--alt {
  background-color: var(--purple-dark);
}

.button--third {
  background-color: var(--yellow-bright);
}