.card--horizontal {
  border: 0.1rem solid var(--neutral-5);
  box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.05);
  border-radius: 2.4rem;
  padding: $space-6;

  &:hover {
    background-color: var(--purple-light);
    border-color: var(--purple-bright);
    color: var(--purple-dark);
  }

  .card__title {
    color: var(--neutral-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: bold;

    @include tablet-xs {
      flex-direction: column;
    }

    a {
      flex-basis: 80%;
      text-decoration: none;

      @include tablet-xs {
        margin-bottom: $space-4;
        flex-basis: auto;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .card__type {
    color: var(--green-medium);
    font-size: 1.8rem;
  }

  .card__description {
    color: var(--neutral-2);
    font-size: 1.8rem;
    margin-bottom: $space-4;
  }

  .card__author {
    color: var(--neutral-3);
    margin: $space-4 0;

    span {
      font-weight: bold;
    }
  }


  &.card--horizontal-full {
    background-color: var(--green-light);
    font-style: italic;
    color: var(--green-dark);
    font-size: 2.4rem;

    blockquote {
      margin: 0;
    }
  }
}
