#citation {
  background: var(--green-light);

  p {
    color: var(--green-dark);
    font-size: 2.4rem;
    font-weight: bold;
  }

  footer {
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--neutral-3);
    background: inherit;
  }
}
