.last__article {
  margin-top: $space-9;
  padding-bottom: $space-9;
}

.last__article-list {
  list-style-type: none;
  padding: 0;
}

.last__article-item {
  margin-bottom: $space-6;
}

.last__article-action {

  @include tablet-xs {
    text-align: center;
  }
}