.list__link {
  list-style-type: none;
  padding: 0;
}

.list__link li {
  margin-bottom: 2.4rem;
}

.list__link a {
  background: linear-gradient(90deg, var(--purple-dark) 0%, rgba(132, 70, 188, 0.85) 100%);
  border-radius: 1.2rem;
  color: var(--white);
  display: block;
  padding: 2.4rem;
  text-decoration: none;
  border: .6rem solid var(--purple-dark);

  &:hover {
    background: var(--white);
    color: var(--purple-dark);
    border: .6rem solid var(--purple-dark);
  }

  &:focus {
    background: var(--purple-light);
    color: var(--purple-dark);
    border: .6rem solid var(--purple-dark);
  }
}

.list__link-title {
  color: inherit;
  font-size: 2.4rem;
}
