.suscribe {
  background: url(../img/Illustration-newsletter.png) no-repeat center right, linear-gradient(180deg, var(--purple-light) 0%, rgba(251, 248, 252, 0) 100%);
  padding: $space-9 0;

  @include tablet-xs {
    background: linear-gradient(180deg, var(--purple-light) 0%, rgba(251, 248, 252, 0) 100%);
    padding: $space-6;
    text-align: center;
  }

  h2, p {
    max-width: 60rem;
  }

  h2 {
    font-size: 3.6rem;
    @include tablet-xs {
      font-size: 2.4rem;
    }
  }

  p {
    font-size: 1.8rem;
    margin-bottom: $space-6
  }

}
