@import "knacss";

:root {
	--white: #fff;

	// Green
    --green-dark: #257172;
    --green-medium: #01A58E;
    --green-bright: #58C9B9;
    --green-light: #BCE9E3;
    --green-pale: #EBF9F7;

	// Purple
    --purple-dark: #8446BC;
    --purple-bright: #D1B6E1;
    --purple-light: #FBF8FC;

    // Neutrals
    --neutral-1: #333333;
    --neutral-2: #4F4F4F;
    --neutral-3: #828282;
    --neutral-4: #BDBDBD;
    --neutral-5: #E0E0E0;
}

@font-face {
    font-family: 'silkaregular';
    src: url('../fonts/silka-regular-webfont.eot');
    src: url('../fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-regular-webfont.woff2') format('woff2'),
         url('../fonts/silka-regular-webfont.woff') format('woff'),
         url('../fonts/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkaitalic';
    src: url('../fonts/silka-regularitalic-webfont.eot');
    src: url('../fonts/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-regularitalic-webfont.woff') format('woff'),
         url('../fonts/silka-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'silkaregular';
	color: var(--neutral-1);
}


nav#entete {
	background: var(--green-dark);	
	a { 
		color: var(--white);
		text-decoration: none;

		&.title { font-weight: bold;}
	}
}

header {
	background: var(--green-medium);
	h1, h2 { 
		font-weight: normal;
		color: var(--white);
		strong { font-weight: bold; }
	}
}

footer {
	background: var(--purple-bright);
}
