@import "05_plugin/knacss/knacss.scss";

// Make your site printable: https://www.slideshare.net/aardrian/making-your-site-printable

@media print {
	// Headings
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		text-transform: none;
		page-break-after: avoid;
	}
	h1 { font-size: 11pt; margin-top: 1em; }
	h2 { font-size: 10pt; }
	h3 { font-size: 9pt; }
	h4, h5, h6 { font-size: 8pt; }

	img { max-width: 100%; }
	a:link, a:visited {
		text-decoration: underline;
		color: #000;
	}
	ol, ul, img {
		page-break-inside: avoid;
	}

	span[aria-hidden="true"] {
		display: none;
	}


	footer { font-size: 6pt; }

}
@media print {

  // Change print unit and make sure it's black
  header {
  	font-size: 24pt;
  	color: #000;
  }

  // Get rid of navigation
  nav, .skiplinks { display: none; }

  // Shrink footer
  footer {
  	font-size: 6pt;
  }

  // Display links
  #content a[href]:after {
  	content: " [" attr(href) "] ";
  	word-wrap: break-world;
  }
}

@media print {
	body {
		color: #000;
		font-size: 8pt;
		line-height: 150%;
		margin: 0;
	}
	nav { display: none; }
	.container { margin: 0; padding: 0; }
	.header__main { min-height: 2in; }
	.header__main--homepage .container { padding-top: 0; padding-bottom: 0; }
	.header__logo a { text-decoration: none; }
	.header__title, .header__subtitle { color: #000; margin: 0; font-size: 14pt;
		color: #000;}
		.header__subtitle { font-size: 12pt; }
		.quote a, .list__link a { border: none; text-decoration: none; }

		.homepage .blockquote { margin: 0; padding: 0; }
		.blockquote__citation { font-weight: normal; line-height: 120%; }
		#content > div {
			margin: 0;
			padding: 0;
		}
		.card--horizontal { border: none; }
		#content a[href][rel="external"]:after {
			content: " [" attr(href) "] ";
			word-wrap: break-world;
		}
	}
