footer {
  background: var(--purple-pale);
  padding: $space-5;

  nav {
	  display: flex;
		justify-content: space-between;

		p, a {
			text-decoration: none;
			font-weight: bold;
			color: var(--purple-dark);
			font-size: 1.8rem;
			margin-right: $space-9;

			@include tablet-xs {
				margin-right: 0;
			}
		}

		.footer__links {
			display: flex;
			width: 75%;

			@include tablet-xs {
				flex-direction: column;
			}

			a {
  				border: 2px solid transparent;
  				padding: .6rem;
  				text-decoration: none;
	
			  	&:hover {
		  			color: var(--purple-dark);
		    		border-bottom: 2px solid var(--purple-dark);
		  		}

			  	&:focus {
		  			color: var(--purple-dark);
		    		border: 2px solid var(--purple-dark);
		  		}
		  	}
		}

		.footer__legals {
			text-align: right;
		}
	}

}
