header {
  background: var(--green-medium);

  ::selection { 
    background: var(--neutral-1); 
  }
}

.header__top {
  background: var(--green-dark);
  font-size: 1.8rem;

  @include tablet-xs {
    padding: $space-5 0;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    min-height: $header-height;

    @include tablet-xs {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  a {
    color: var(--white);
    border: 2px solid transparent;
    padding: .6rem;

    &:hover {
      color: var(--green-light);
      border-bottom: 2px solid var(--green-light);
    }

    &:focus {
      color: var(--white);
      border: 2px solid var(--white);
    }

    &[aria-current="page"] {
      font-weight: bold;
    }
  }
}

.header__logo {
  align-items: center;
  display: flex;
  font-weight: bold;

  a {
    align-items: center;
    display: flex;
    text-decoration: none;
  }

  svg {
    margin-right: 1.2rem;
  }
}

.header__menu {
  display: flex;
  min-height: 100%;

  @include mobile {
    margin-top: $space-5;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  li {
    align-items: center;
    display: flex;
    margin-right: 4.8rem;

    @include tablet-xs {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--white);
    }
  }
}

.header__main {
  background: var(--green-medium) url(../img/Illustration-header.png) no-repeat bottom right;
  min-height: 33rem;

  @include desktop-xs {
    padding: $space-6 2rem;
  }
  
  @include tablet {
    background-size: auto 50%;
  }

  @include tablet-xs {
    background-position: bottom right;
    padding-bottom: 18rem;
    min-height: 18rem;
    text-align: center;
    background-size: auto 18rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    padding: $space-10 2rem;

    @include tablet {
      padding: 0;
    }
  }
}

.header__main--homepage {
  min-height: 44.5rem;
  background-position-y: center;

  @include desktop-xs {
    background-position: right bottom;
    min-height: 38rem;
  }

  .header__title,
  .header__subtitle {
    @include tablet {
      max-width: 100%;
    }
  }

  @include tablet-xs {
    min-height: auto;
  }

  .container {
    padding-top: 9rem;
    padding-bottom: 15rem;

    @include desktop-xs {
      padding: 0;
      padding-left: $space-6;
    }
    @include tablet {
      padding: 0;
    }
  }
}

.header__title,
.header__subtitle {
  font-weight: normal;
  color: var(--white);
  max-width: 60rem;

  strong {
    font-weight: bold;
  }

  @include desktop-xs {
    max-width: 45%;
  }
  @include tablet {
    max-width: 45%;
  }
  @include tablet-xs {
    max-width: none;
  }
}

.header__title {
  font-size: 4.8rem;
  line-height: 1.2;

  @include tablet-xs {
    font-size: 3.6rem;
  }
}

.header__subtitle {
  font-size: 2.4rem;
  line-height: 1.5;

  @include tablet-xs {
    font-size: 1.8rem;
  }
}
