@charset "UTF-8";
/*!
* KNACSS Reborn: Just keep it simple!
* @author: Alsacreations
* v8.0.3 2021/05
* Licence WTFPL http://www.wtfpl.net/
*/
/* ----------------------------- */
/* ==Reset (base)                */
/* ----------------------------- */
/*
 * 1. Switch to border-box model for all elements
 * 2. Avoid min-width: auto and min-height: auto on flex and grid children
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* 1 */
  min-width: 0;
  /* 2 */
  min-height: 0;
  /* 2 */ }

/*
 * 1. Remove the grey highlight on links in iOS
 * 2. Prevent orientation font changes in iOS
 * 3. Breaks words to prevent overflow in all browsers
 */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-wrap: break-word;
  /* 3 */ }

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ffffff; }

/*
 * Headings
 */
h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
  color: #212529; }

/*
 * Links
 */
a {
  color: #454d5d;
  text-decoration: underline; }

a:focus,
a:hover,
a:active {
  color: #212529;
  text-decoration: underline; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/*
 * Vertical rythm
 */
h1,
.h1-like,
h2,
.h2-like {
  margin-top: 0;
  margin-bottom: 2rem; }

p,
address,
ol,
ul,
dl,
blockquote,
pre,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like,
dt,
dd {
  margin-top: 0;
  margin-bottom: 1rem; }

/*
 * Nested elements
 */
ol ol,
ol ul,
ul ol,
ul ul,
li ul,
li ol,
nav ul,
nav ol,
li p,
li .p-like {
  margin-top: 0;
  margin-bottom: 0; }

/*
 * Lists
 */
ul,
ol {
  padding-left: 2rem; }

nav ul,
nav ol {
  list-style: none;
  padding: 0; }

/*
 * Embed content
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img,
table,
td,
blockquote,
pre,
code,
input,
textarea,
select,
video,
svg,
iframe {
  max-width: 100%; }

iframe,
img,
input,
select,
textarea {
  height: auto; }

img {
  border-style: none; }

/**
 * Remove the border on iframes in all browsers
 */
iframe {
  border-style: none; }

/*
 * Fill color matching to text color
 */
svg:not([fill]) {
  fill: currentColor; }

/*
 * Hide the overflow in IE
 */
svg:not(:root) {
  overflow: hidden; }

/*
 * Tables
 */
table {
  border-collapse: collapse; }

/*
 * Rulers
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid;
  margin: 2rem 0;
  clear: both;
  color: inherit; }

/*
 * table styles
 */
table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
  margin-bottom: 2rem; }

/* 
 * Hidden but not for an assistive technology like a screen reader, Yahoo! method 
 */
.visually-hidden,
.sr-only {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important; }

/*
 * Disable animations styles when reduced motion is enabled
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important; } }
/*
 * Change the cursor on busy elements in all browsers.
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers.
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers.
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers.
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* ----------------------------- */
/* ==Reset (forms)               */
/* ----------------------------- */
/*
 * Remove the tapping delay on clickable elements in all browsers .
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/*
 * 1. Change the inconsistent appearance in all browsers.
 * 2. Add typography inheritance in all browsers.
 */
button,
input,
select,
textarea {
  margin: 0;
  background-color: transparent;
  /* 1 */
  color: inherit;
  /* 1 */
  font-family: inherit;
  /* 2 */
  font-size: inherit;
  /* 2 */
  line-height: inherit;
  /* 2 */
  letter-spacing: inherit;
  /* 2 */
  vertical-align: middle; }

/*
 * Basic User Interface reset
 */
button,
input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
  border: 0; }

/*
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

pre {
  tab-size: 2;
  white-space: pre-wrap;
  line-height: normal;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

/*
 * Show overflow in IE/Edge
 */
button,
input {
  overflow: visible; }

/* 
 * Remove the inheritance of text transform in Firefox
 */
button,
select {
  text-transform: none; }

/*
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

form,
fieldset {
  border: none; }

fieldset {
  margin: 0;
  padding: 2rem; }

legend {
  display: table;
  max-width: 100%;
  padding: 0 0.5rem;
  border: 0;
  color: inherit;
  white-space: normal; }

label {
  display: inline-block;
  cursor: pointer; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  white-space: pre-wrap; }

progress {
  display: inline-block;
  width: 100%;
  vertical-align: baseline; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

/* ----------------------------- */
/* Form oddities                 */
/* ----------------------------- */
/*
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/*
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/*
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/*
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/*
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/*
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* ----------------------------- */
/* ==Print (quick print reset)   */
/* ----------------------------- */
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  body {
    width: auto;
    margin: auto;
    font-family: serif;
    font-size: 12pt; }

  p,
  .p-like,
  h1,
  .h1-like,
  h2,
  .h2-like,
  h3,
  .h3-like,
  h4,
  .h4-like,
  h5,
  .h5-like,
  h6,
  .h6-like,
  blockquote,
  label,
  ul,
  ol {
    color: #000;
    margin: auto; }

  .print {
    display: block; }

  .no-print {
    display: none; }

  /* no orphans, no widows */
  p,
  .p-like,
  blockquote {
    orphans: 3;
    widows: 3; }

  /* no breaks inside these elements */
  blockquote,
  ul,
  ol {
    page-break-inside: avoid; }

  /* page break before main headers
  h1,
  .h1-like {
    page-break-before: always;
  }
  */
  /* no breaks after these elements */
  h1,
  .h1-like,
  h2,
  .h2-like,
  h3,
  .h3-like,
  caption {
    page-break-after: avoid; }

  a {
    color: #000; }

  /* displaying URLs
  a[href]::after {
    content: " (" attr(href) ")";
  }
  */
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: ""; } }
:root {
  --white: #fff;
  --green-dark: #257172;
  --green-medium: #01A58E;
  --green-bright: #58C9B9;
  --green-light: #BCE9E3;
  --green-pale: #EBF9F7;
  --purple-dark: #8446BC;
  --purple-bright: #D1B6E1;
  --purple-light: #FBF8FC;
  --purple-pale: #F3ECF8;
  --yellow-light: rgba(251, 239, 179, 0.5);
  --yellow-bright: #F2CB00;
  --neutral-1: #263F3B;
  --neutral-2: #445451;
  --neutral-3: #728C88;
  --neutral-4: #B6C3C1;
  --neutral-5: #DAE1E0; }

@font-face {
  font-family: 'silka';
  src: url("../fonts/silka-regular-webfont.woff2") format("woff2"), url("../fonts/silka-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }
@font-face {
  font-family: 'silka';
  src: url("../fonts/silka-regularitalic-webfont.woff2") format("woff2"), url("../fonts/silka-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'silka';
  src: url("../fonts/silka-bold-webfont.woff2") format("woff2"), url("../fonts/silka-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative; }

#content > .container,
#content > .section > .container {
  margin: 2.4rem auto;
  padding: 2.4rem; }

body {
  font-family: 'silka', sans-serif;
  color: var(--neutral-1);
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

::selection {
  background: var(--green-medium);
  color: var(--white); }

h2 {
  font-size: 3.6rem;
  font-weight: bold; }
  @media screen and (max-width: 47.9375em) {
    h2 {
      font-size: 2.4rem; } }

h3 {
  font-size: 3.2rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 1.8rem; }

.blockquote {
  background: var(--green-light);
  border-radius: 1.6rem;
  margin: 0;
  padding: 2.4rem; }
  @media screen and (max-width: 47.9375em) {
    .blockquote {
      text-align: center; } }

.blockquote__citation {
  color: var(--green-dark);
  font-size: 2.4rem;
  font-weight: bold; }

.blockquote__citation p {
  quotes: "«" "»" '"' '"'; }
  .blockquote__citation p::before {
    content: open-quote;
    margin-right: 1rem; }
  .blockquote__citation p::after {
    content: close-quote;
    margin-left: 1rem; }

.blockquote__author {
  color: var(--neutral-1);
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0;
  text-align: right; }
  @media screen and (max-width: 47.9375em) {
    .blockquote__author {
      text-align: center; } }

.blockquote__author a {
  color: var(--neutral-1); }
  .blockquote__author a:hover {
    border-bottom: 1px solid var(--neutral-1); }

.button {
  align-items: center;
  border-radius: 2.4rem;
  border: 2px solid inherit;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: center;
  padding: 1.2rem 3.2rem;
  position: relative;
  text-align: center;
  text-decoration: none; }

.button--primary,
.button--alt,
.button--third {
  background-color: var(--green-dark);
  color: var(--white); }
  .button--primary span,
  .button--alt span,
  .button--third span {
    margin-left: 1.2rem; }
  .button--primary:hover, .button--primary:focus,
  .button--alt:hover,
  .button--alt:focus,
  .button--third:hover,
  .button--third:focus {
    background-color: var(--white);
    color: var(--green-dark);
    text-decoration: none; }
  .button--primary:hover:after, .button--primary:focus:after,
  .button--alt:hover:after,
  .button--alt:focus:after,
  .button--third:hover:after,
  .button--third:focus:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1px;
    bottom: 0px;
    border: 4px solid var(--green-dark);
    border-radius: 2.4rem; }

.button--alt {
  background-color: var(--purple-dark); }
  .button--alt:hover, .button--alt:focus {
    color: var(--purple-dark); }
  .button--alt:hover:after, .button--alt:focus:after {
    border: 4px solid var(--purple-dark); }

.button--third {
  background-color: var(--yellow-bright);
  color: var(--neutral-1); }
  .button--third:hover, .button--third:focus {
    color: var(--neutral-1);
    background-color: var(--yellow-bright); }
  .button--third:hover:after, .button--third:focus:after {
    border: 4px solid var(--neutral-1); }

.card__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 4.8rem -1.2rem; }
  @media screen and (max-width: 35.3125em) {
    .card__grid {
      margin-left: 0;
      margin-right: 0; } }
  .card__grid .card {
    margin: 1.2rem;
    width: calc(100% / 4 - 1.2rem * 2);
    border-radius: .6rem;
    padding: 1.2em; }

.card {
  border-radius: 2.4rem;
  padding: 2.4rem; }
  .card .card__icon {
    color: var(--purple-bright);
    font-size: 9.6rem; }

.card--horizontal {
  border: 0.1rem solid var(--neutral-5);
  box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.05);
  border-radius: 2.4rem;
  padding: 2.4rem; }
  .card--horizontal:hover {
    background-color: var(--purple-light);
    border-color: var(--purple-bright);
    color: var(--purple-dark); }
  .card--horizontal .card__title {
    color: var(--neutral-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 0; }
    @media screen and (max-width: 47.9375em) {
      .card--horizontal .card__title {
        flex-direction: column; } }
    .card--horizontal .card__title a {
      flex-basis: 80%;
      text-decoration: none; }
      @media screen and (max-width: 47.9375em) {
        .card--horizontal .card__title a {
          margin-bottom: 1.2rem;
          flex-basis: auto; } }
      .card--horizontal .card__title a:hover, .card--horizontal .card__title a:focus {
        text-decoration: underline; }
  .card--horizontal .card__type {
    color: var(--green-dark);
    font-size: 1.8rem; }
  .card--horizontal .card__description {
    color: var(--neutral-2);
    font-size: 1.8rem;
    margin-bottom: 1.2rem; }
  .card--horizontal .card__author {
    color: var(--neutral-2);
    margin: 1.2rem 0; }
    .card--horizontal .card__author span {
      font-weight: bold; }
  .card--horizontal.card--horizontal-full {
    background-color: var(--green-light);
    font-style: italic;
    color: var(--green-dark);
    font-size: 2.4rem; }
    .card--horizontal.card--horizontal-full blockquote {
      margin: 0; }

.last__article {
  margin-top: 4.8rem;
  padding-bottom: 4.8rem; }

.last__article-list {
  list-style-type: none;
  padding: 0; }

.last__article-item {
  margin-bottom: 2.4rem; }

@media screen and (max-width: 47.9375em) {
  .last__article-action {
    text-align: center; } }

.list__link {
  list-style-type: none;
  padding: 0; }

.list__link li {
  margin-bottom: 2.4rem; }

.list__link a {
  background: linear-gradient(90deg, var(--purple-dark) 0%, rgba(132, 70, 188, 0.85) 100%);
  border-radius: 1.2rem;
  color: var(--white);
  display: block;
  padding: 2.4rem;
  text-decoration: none;
  border: 0.6rem solid var(--purple-dark); }
  .list__link a:hover {
    background: var(--white);
    color: var(--purple-dark);
    border: 0.6rem solid var(--purple-dark); }
  .list__link a:focus {
    background: var(--purple-light);
    color: var(--purple-dark);
    border: 0.6rem solid var(--purple-dark); }

.list__link-title {
  color: inherit;
  font-size: 2.4rem; }

.next-step {
  background-color: var(--yellow-light);
  padding: 4.8rem 0; }
  @media screen and (max-width: 47.9375em) {
    .next-step {
      padding: 2.4rem;
      text-align: center; } }

.next-step h2 {
  font-size: 3.6rem; }
  @media screen and (max-width: 47.9375em) {
    .next-step h2 {
      font-size: 2.4rem; } }

.skiplinks a {
  background: var(--green-dark);
  color: var(--white);
  font-weight: 700;
  left: -999rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  z-index: 2; }
  .skiplinks a:focus {
    left: 0; }
  .skiplinks a:hover, .skiplinks a:focus {
    color: var(--white); }

.suscribe {
  background: url(../img/Illustration-newsletter.png) no-repeat center right, linear-gradient(180deg, var(--purple-light) 0%, rgba(251, 248, 252, 0) 100%);
  padding: 4.8rem 0; }
  @media screen and (max-width: 47.9375em) {
    .suscribe {
      background: linear-gradient(180deg, var(--purple-light) 0%, rgba(251, 248, 252, 0) 100%);
      padding: 2.4rem;
      text-align: center; } }
  .suscribe h2, .suscribe p {
    max-width: 60rem; }
  .suscribe h2 {
    font-size: 3.6rem; }
    @media screen and (max-width: 47.9375em) {
      .suscribe h2 {
        font-size: 2.4rem; } }
  .suscribe p {
    font-size: 1.8rem;
    margin-bottom: 2.4rem; }

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0; }

.tags__item {
  margin-right: 1rem;
  text-transform: lowercase;
  margin-top: .6rem;
  height: 4rem; }
  .tags__item a {
    background: var(--neutral-5);
    border-radius: .6rem;
    border: 2px solid var(--neutral-5);
    padding: .6rem 1.2rem; }
    .tags__item a:focus {
      border: 2px solid var(--neutral-1); }
  .tags__item:last-child {
    margin-right: 0; }

.tags__item-phase a {
  background: var(--purple-bright);
  border: 2px solid var(--purple-bright); }
  .tags__item-phase a:hover {
    border-color: var(--purple-dark); }

.tags__item-thematique a {
  background: var(--green-light);
  border: 2px solid var(--green-light); }
  .tags__item-thematique a:hover {
    border-color: var(--green-bright); }

.tags__item-lang a {
  background: var(--yellow-light);
  border: 2px solid var(--yellow-light); }
  .tags__item-lang a:hover {
    border-color: var(--yellow-bright); }

.tags__link {
  text-decoration: none; }
  .tags__link:hover {
    text-decoration: none; }

.checklist__item {
  background-color: var(--green-pale);
  padding: 1.2rem; }
  .checklist__item:first-child {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem; }
  .checklist__item:last-child {
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem; }
  .checklist__item h4 {
    display: inline;
    color: var(--green-dark); }
  .checklist__item .checklist__item__content {
    margin: 1.6rem;
    margin-bottom: 4.8rem;
    margin-left: 4.2rem;
    color: var(--neutral-2); }
    .checklist__item .checklist__item__content a[hreflang="en"]::after {
      content: "\0000a0(en anglais)";
      font-weight: normal; }
    .checklist__item .checklist__item__content .checklist__item__ressources {
      color: var(--neutral-1);
      font-weight: bold;
      margin-top: 1rem; }
    .checklist__item .checklist__item__content ul {
      list-style-type: none;
      padding: 0; }
    .checklist__item .checklist__item__content li {
      margin: 0.8rem 0; }

.highlight {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--green-dark);
  margin: 3.2rem auto; }

.filters {
  margin-bottom: 4.8rem; }
  .filters .tags {
    margin-bottom: 0.8rem; }
  .filters .tags__item {
    margin-bottom: 1.6rem; }
  .filters a {
    text-decoration: none; }

footer {
  background: var(--purple-pale);
  padding: 1.6rem; }
  footer nav {
    display: flex;
    justify-content: space-between; }
    footer nav p, footer nav a {
      text-decoration: none;
      color: var(--purple-dark);
      font-size: 1.8rem; }
      @media screen and (max-width: 47.9375em) {
        footer nav p, footer nav a {
          margin-right: 0; } }
    footer nav .footer__links {
      display: flex;
      width: 75%;
      font-weight: bold; }
      @media screen and (max-width: 47.9375em) {
        footer nav .footer__links {
          flex-direction: column; } }
      footer nav .footer__links a {
        border: 2px solid transparent;
        margin-right: 4.8rem;
        padding: .6rem;
        text-decoration: none; }
        footer nav .footer__links a:hover {
          color: var(--purple-dark);
          border-bottom: 2px solid var(--purple-dark); }
        footer nav .footer__links a:focus {
          color: var(--purple-dark);
          border: 2px solid var(--purple-dark); }
    footer nav .footer__legals {
      font-weight: normal;
      text-align: right; }
      footer nav .footer__legals .footer__network {
        font-size: 3.6rem; }

header {
  background: var(--green-medium); }
  header ::selection {
    background: var(--neutral-1); }

.header__top {
  background: var(--green-dark);
  font-size: 1.8rem; }
  @media screen and (max-width: 47.9375em) {
    .header__top {
      padding: 1.6rem 0; } }
  .header__top > .container {
    display: flex;
    justify-content: space-between;
    min-height: 7.5rem; }
    @media screen and (max-width: 47.9375em) {
      .header__top > .container {
        align-items: center;
        flex-direction: column;
        justify-content: center; } }
  .header__top a {
    color: var(--white);
    border: 2px solid transparent;
    padding: .6rem; }
    .header__top a:hover {
      color: var(--green-light);
      border-bottom: 2px solid var(--green-light); }
    .header__top a:focus {
      color: var(--white);
      border: 2px solid var(--white); }
    .header__top a[aria-current="page"] {
      font-weight: bold; }

.header__logo {
  align-items: center;
  display: flex;
  font-weight: bold; }
  .header__logo a {
    align-items: center;
    display: flex;
    text-decoration: none; }
  .header__logo svg {
    margin-right: 1.2rem; }

.header__menu {
  display: flex;
  min-height: 100%; }
  @media screen and (max-width: 35.3125em) {
    .header__menu {
      margin-top: 1.6rem;
      align-items: center;
      flex-direction: column;
      justify-content: center; } }
  .header__menu li {
    align-items: center;
    display: flex;
    margin-right: 4.8rem; }
    @media screen and (max-width: 47.9375em) {
      .header__menu li {
        margin-right: 0; } }
    .header__menu li:last-child {
      margin-right: 0; }
  .header__menu a {
    text-decoration: none; }
    .header__menu a:hover, .header__menu a:focus {
      color: var(--white); }

.header__main {
  background: var(--green-medium) url(../img/Illustration-header.png) no-repeat bottom right;
  min-height: 33rem; }
  @media screen and (max-width: 74.9375em) {
    .header__main {
      padding: 2.4rem 2rem; } }
  @media screen and (max-width: 64em) {
    .header__main {
      background-size: auto 50%; } }
  @media screen and (max-width: 47.9375em) {
    .header__main {
      background-position: bottom right;
      padding-bottom: 18rem;
      min-height: 18rem;
      text-align: center;
      background-size: auto 18rem; } }
  .header__main .container {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    padding: 6.4rem 2rem; }
    @media screen and (max-width: 64em) {
      .header__main .container {
        padding: 0; } }

.header__main--homepage {
  min-height: 44.5rem;
  background-position-y: center; }
  @media screen and (max-width: 74.9375em) {
    .header__main--homepage {
      background-position: right bottom;
      min-height: 38rem; } }
  @media screen and (max-width: 64em) {
    .header__main--homepage .header__title,
    .header__main--homepage .header__subtitle {
      max-width: 100%; } }
  @media screen and (max-width: 47.9375em) {
    .header__main--homepage {
      min-height: auto; } }
  .header__main--homepage .container {
    padding-top: 9rem;
    padding-bottom: 15rem; }
    @media screen and (max-width: 74.9375em) {
      .header__main--homepage .container {
        padding: 0;
        padding-left: 2.4rem; } }
    @media screen and (max-width: 64em) {
      .header__main--homepage .container {
        padding: 0; } }

.header__title,
.header__subtitle {
  font-weight: normal;
  color: var(--white);
  max-width: 60rem; }
  .header__title strong,
  .header__subtitle strong {
    font-weight: bold; }
  @media screen and (max-width: 74.9375em) {
    .header__title,
    .header__subtitle {
      max-width: 45%; } }
  @media screen and (max-width: 64em) {
    .header__title,
    .header__subtitle {
      max-width: 45%; } }
  @media screen and (max-width: 47.9375em) {
    .header__title,
    .header__subtitle {
      max-width: none; } }

.header__title {
  font-size: 4.8rem;
  line-height: 1.2; }
  @media screen and (max-width: 47.9375em) {
    .header__title {
      font-size: 3.6rem; } }

.header__subtitle {
  font-size: 2.4rem;
  line-height: 1.5; }
  @media screen and (max-width: 47.9375em) {
    .header__subtitle {
      font-size: 1.8rem; } }

.decouvrir p, .decouvrir ul {
  font-size: 1.8rem; }
.decouvrir a:not(.button) {
  font-weight: bold;
  color: var(--purple-dark);
  text-decoration: none; }
  .decouvrir a:not(.button):hover {
    border-bottom: 2px solid var(--purple-dark); }
.decouvrir .highlight p {
  font-size: 2.4rem; }
.decouvrir p + ul {
  margin-bottom: 4.8rem; }
@media screen and (max-width: 47.9375em) {
  .decouvrir .card__grid-handicaps {
    align-items: center;
    flex-direction: column;
    justify-content: center; } }
.decouvrir .card__grid-handicaps .card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-align: center; }
.decouvrir .card__grid-personas .card {
  background-color: var(--green-pale); }
  .decouvrir .card__grid-personas .card .card__title {
    font-weight: bold;
    font-size: 1.8rem; }
  .decouvrir .card__grid-personas .card p {
    font-size: 1.4rem; }
  @media screen and (max-width: 74.9375em) {
    .decouvrir .card__grid-personas .card {
      width: calc(100% / 3 - 1.2rem * 2); } }
  @media screen and (max-width: 64em) {
    .decouvrir .card__grid-personas .card {
      width: calc(100% / 2 - 1.2rem * 2); } }
  @media screen and (max-width: 35.3125em) {
    .decouvrir .card__grid-personas .card {
      margin: 1.2rem 0;
      width: 100%; } }
  .decouvrir .card__grid-personas .card:hover {
    transform: translateY(-0.2rem); }
.decouvrir .card__grid-handicaps {
  justify-content: space-between;
  margin-bottom: 4.8rem; }
  .decouvrir .card__grid-handicaps .card {
    background-color: var(--purple-light);
    width: calc(100% / 4 - 4.8rem * 2); }
    @media screen and (max-width: 74.9375em) {
      .decouvrir .card__grid-handicaps .card {
        width: calc(100% / 3 - 1.2rem * 2); } }
    @media screen and (max-width: 64em) {
      .decouvrir .card__grid-handicaps .card {
        width: calc(100% / 2 - 1.2rem * 2); } }
    @media screen and (max-width: 47.9375em) {
      .decouvrir .card__grid-handicaps .card {
        width: 100%;
        padding: 0;
        margin: 1.2rem 0; } }
    .decouvrir .card__grid-handicaps .card .card__title {
      font-weight: bold;
      font-size: 2.4rem;
      color: var(--purple-dark); }
    .decouvrir .card__grid-handicaps .card:hover {
      transform: translateY(-0.2rem); }
.decouvrir .card__grid-technos {
  margin-top: 0; }
  .decouvrir .card__grid-technos .card {
    background-color: var(--purple-light);
    width: calc(100% / 3 - 1.2rem * 2);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: relative;
    padding: 0; }
    @media screen and (max-width: 64em) {
      .decouvrir .card__grid-technos .card {
        width: calc(100% / 2 - 1.2rem * 2); } }
    @media screen and (max-width: 47.9375em) {
      .decouvrir .card__grid-technos .card {
        width: 100%;
        padding: 0;
        margin: 1.2rem 0; } }
    .decouvrir .card__grid-technos .card .card__img {
      position: relative;
      padding-top: 56.25%; }
      .decouvrir .card__grid-technos .card .card__img img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: .6rem;
        border-top-right-radius: .6rem; }
    .decouvrir .card__grid-technos .card .card__title {
      color: var(--purple-dark);
      padding: 0.8rem; }
    .decouvrir .card__grid-technos .card:hover {
      transform: translateY(-0.2rem); }
.decouvrir .alt {
  background-color: var(--purple-pale); }
.decouvrir .section__checklist ul {
  list-style-type: none;
  padding: 0; }

.homepage .intro {
  padding-top: 2.4rem; }
.homepage .last__article {
  padding-top: 4.8rem; }
@media screen and (max-width: 47.9375em) {
  .homepage .quote > .container {
    padding: 0; } }
.homepage .blockquote {
  min-height: 9rem;
  margin-top: -9rem;
  margin-bottom: 6rem; }
  @media screen and (max-width: 47.9375em) {
    .homepage .blockquote {
      border-radius: 0;
      margin: 0;
      min-height: auto; } }
.homepage .intro__title {
  margin-bottom: 1rem; }
.homepage .list__link {
  margin-top: 2rem; }

.checklist h3 {
  margin-top: 2rem;
  font-size: 2.4rem; }
.checklist .checklist__group {
  list-style-type: none;
  padding: 0;
  margin-bottom: 4.2rem; }
.checklist .checklist__item__content h4 {
  margin-top: 1.6rem; }
.checklist .checklist__item__content li {
  list-style-type: square;
  margin-left: 1.6rem; }
.checklist .checklist__item input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .checklist .checklist__item input:hover + label, .checklist .checklist__item input:focus + label {
    color: var(--neutral-1); }
  .checklist .checklist__item input:focus + label::before {
    outline: var(--green-dark) solid 0.1rem; }
  .checklist .checklist__item input:checked + label .checklist__item__title {
    text-decoration: line-through; }
  .checklist .checklist__item input:checked + label::before {
    background: var(--green-medium);
    border-color: var(--green-dark); }
  .checklist .checklist__item input:checked + label::after {
    content: '';
    position: absolute;
    top: 1.3rem;
    left: 0.6rem;
    border-left: 0.2rem solid var(--white);
    border-bottom: 0.2rem solid var(--white);
    height: 0.6rem;
    width: 1.3rem;
    transform: rotate(-45deg); }
  .checklist .checklist__item input:checked ~ .checklist__item__content {
    display: none; }
  .checklist .checklist__item input + label {
    color: var(--green-dark);
    font-size: 2.4rem;
    font-weight: bold;
    display: flex;
    position: relative;
    padding: 0 1.5rem 0 0; }
    .checklist .checklist__item input + label:hover::before, .checklist .checklist__item input + label:focus::before {
      border-color: var(--green-dark); }
    .checklist .checklist__item input + label::before {
      border: 0.3rem solid var(--green-medium);
      border-radius: .6rem;
      content: '';
      position: relative;
      display: inline-block;
      margin-right: 1.75rem;
      min-width: 2.4rem;
      top: 0.5rem;
      height: 2.4rem;
      background: var(--white); }
.checklist .checklist__item.active .checklist__item__content {
  display: none; }
.checklist .last__article-list {
  display: flex;
  flex-wrap: wrap;
  margin: 4.8rem -1.2rem; }
  .checklist .last__article-list .last__article-item {
    margin: 1.2rem;
    width: calc(100% / 2 - 1.2rem * 2); }
    @media screen and (max-width: 47.9375em) {
      .checklist .last__article-list .last__article-item {
        width: 100%;
        padding: 0;
        margin: 1.2rem 0; } }
.checklist .toc {
  list-style-type: none;
  margin: 0 0 4.8rem 0;
  padding: 0; }
  .checklist .toc::before {
    content: "👉 "; }
  .checklist .toc li {
    display: inline;
    margin-left: 2rem; }
.checklist .backtotop {
  margin: -1.6rem 0 4.8rem;
  font-size: 1.4rem; }

.card--horizontal .card__title a:visited {
  color: var(--neutral-2); }

.about h2 {
  margin: 4.8rem 0 1.6rem; }
.about blockquote {
  background: var(--green-light);
  border-radius: .6rem;
  padding: 3.2rem;
  line-height: 2.8rem;
  margin: 4.8rem 0 0 0; }
  @media screen and (max-width: 47.9375em) {
    .about blockquote {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
