@font-face {
  font-family: 'silka';
  src: url('../fonts/silka-regular-webfont.woff2') format('woff2'),
  url('../fonts/silka-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'silka';
  src: url('../fonts/silka-regularitalic-webfont.woff2') format('woff2'),
  url('../fonts/silka-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('../fonts/silka-bold-webfont.woff2') format('woff2'),
  url('../fonts/silka-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


