$grid-container: 110rem;

.container {
  max-width: $grid-container;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

#content > .container, 
#content > .section > .container {
	margin: $space-6 auto;
	padding: $space-6;
}