p {
	// font-size: 1.8rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: bold;

  @include tablet-xs {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}

.page-detail {
  color: var(--neutral-3);
}
