.checklist {
	h3 {
		margin-top: 2rem;
		font-size: 2.4rem;
	}

	.checklist__group {
		list-style-type: none;
		padding: 0;
		margin-bottom: 4.2rem;
	}

	.checklist__item__content {
		h4 {
			margin-top: $space-5;
		}
		li {
			list-style-type: square;
			margin-left: 1.6rem;
		}
	}

	.checklist__item {

		input {
			position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);

      &:hover,
      &:focus {

        + label {
          color: var(--neutral-1);
        }
      }

      &:focus {

        + label {

          &::before {
            outline: var(--green-dark) solid 0.1rem;
          }
        }
      }

      &:checked {

        + label {

          .checklist__item__title {
            text-decoration: line-through;
          }

          &::before {
            background: var(--green-medium);
            border-color: var(--green-dark);
          }

          &::after {
            content: '';
            position: absolute;
            top: 1.3rem;
            left: 0.6rem;
            border-left: 0.2rem solid var(--white);
            border-bottom: 0.2rem solid var(--white);
            height: 0.6rem;
            width: 1.3rem;
            transform: rotate(-45deg);
          }
        }
      }

      + label {
        color: var(--green-dark);
        font-size: 2.4rem;
        font-weight: bold;
        display: flex;
        position: relative;
        padding: 0 1.5rem 0 0;

        &:hover,
        &:focus {

          &::before {
            border-color: var(--green-dark);
          }
        }

        &::before {
          border: 0.3rem solid var(--green-medium);
          border-radius: .6rem;
          content: '';
          position: relative;
          display: inline-block;
          margin-right: 1.75rem;
          min-width: 2.4rem;
          top: 0.5rem;
          height: 2.4rem;
          background: var(--white);
        }
      }
		}

    &.active {

      .checklist__item__content {
        display: none;
      }
    }
  }

	.last__article-list {
		display: flex;
		flex-wrap: wrap;
    margin: $space-9 #{-$space-4};

		.last__article-item {
			margin: $space-4;
      width: calc(100% / 2 - #{$space-4} * 2);

      @include tablet-xs {
        width: 100%;
        padding: 0;
        margin: $space-4 0;
      }
		}
	}
}
