.checklist {
	h3 {
		margin-top: 2rem;
		font-size: 2.4rem;
	}

	.checklist__group {
		list-style-type: none;
		padding: 0;
		margin-bottom: 4.2rem;	
	}

	.checklist__item__content {
		h5 {
			margin-top: $space-5;
		}
		li {
			list-style-type: square;
			margin-left: 1.6rem;
		}
	}

	.checklist__item label {
		display: block;
		position: relative;
		padding-left: 4.2rem;
		cursor: pointer;
		font-size: 2.4rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		.checklist__item__checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 2.4rem;
			width: 2.4rem;
			background-color: var(--white);
			border: 3px solid var(--green-medium);
			border-radius: .6rem;
			margin-top: .6rem;
		}	
	}

	// On mouse-over
	.checklist__item label:hover input ~ .checklist__item__checkmark,
	.checklist__item input:focus ~ .checklist__item__checkmark {
		border-color: var(--green-dark);
	}
	.checklist__item label:hover input ~ .checklist__item__title {
		color: var(--neutral-1);
	}

	// When checked
	.checklist__item label input:checked ~ .checklist__item__checkmark {
	  	background-color: var(--green-medium);
	}
	.checklist__item label input:checked ~ .checklist__item__title {
		text-decoration: line-through;
	}

	// Checkmark indicator
	.checklist__item__checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}
	.checklist__item label input:checked ~ .checklist__item__checkmark:after {
	  display: block;
	}
	.checklist__item label .checklist__item__checkmark:after {
		left: .6rem;
		top: .3rem;
		width: .6rem;
		height: 1.2rem;
		border: solid white;
		border-width: 0 .3rem .3rem 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.checklist__item label input:checked ~ .checklist__item__content {
		display: none;
	}
}

.last__article-list {
	display: flex;
	flex-wrap: wrap;
  	margin: $space-9 #{-$space-4};

	.last__article-item {
		margin: $space-4;
	    width: calc(100% / 2 - #{$space-4} * 2);
	}
}