.default {
	h2, h3 {
		margin: $space-9 0 $space-5;
	}
	h2:first-of-type {
		margin-top: 0;
	}
	blockquote {
 		background: var(--green-light);
		border-radius: .6rem;
  		padding: 3.2rem;
  		line-height: 2.8rem;
		margin: $space-9 0 0 0;

		@include tablet-xs {
		    text-align: center;
  		}
	}

}