.decouvrir {
  p, ul {
    font-size: 1.8rem;
  }

  .highlight p {
    font-size: 2.4rem;
  }

  p + ul {
    margin-bottom: $space-9;
  }

  .card__grid-personas {
    .card {
      background-color: var(--green-pale);

      .card__title {
        font-weight: bold;
        font-size: 1.8rem;
      }

      p {
        font-size: 1.4rem;
      }

      @include desktop-xs {
        width: calc(100% / 3 - #{$space-4} * 2);
      }

      @include tablet {
        width: calc(100% / 2 - #{$space-4} * 2);
      }

      @include mobile {
        margin: $space-4 0;
        width: 100%;
      }

      &:hover {
        transform: translateY(-$space-1);
      }
    }
  }

  .card__grid-handicaps {
    .card {
      background-color: var(--purple-light);

      .card__title {
        font-weight: bold;
        font-size: 2.4rem;
        color: var(--purple-dark);
      }

      &:hover {
        transform: translateY(-$space-1);
      }
    }
  }

  .card__grid-technos {
    .card {
      background-color: var(--purple-light);
      width: calc(100% / 3 - #{$space-4} * 2);

      .card__title {
        color: var(--purple-dark);
      }
    }
  }

  .alt {
    background-color: var(--purple-pale);
  }
}