.homepage {

  .quote {

    > .container {
  
      @include tablet-xs {
        padding: 0;
      }
    }
  }

  .blockquote {
    min-height: 16rem;
    margin-top: -13rem;
    margin-bottom: 6rem;
  
    @include tablet-xs {
      border-radius: 0;
      margin: 0;
      min-height: auto;
    }
  }

  .intro__title {
    margin-bottom: 1rem;
  }

  .list__link {
    margin-top: 2rem;
  }  
}