:root {
  --white: #fff;

  // Green
  --green-dark: #257172;
  --green-medium: #01A58E;
  --green-bright: #58C9B9;
  --green-light: #BCE9E3;
  --green-pale: #EBF9F7;

  // Purple
  --purple-dark: #8446BC;
  --purple-bright: #D1B6E1;
  --purple-light: #FBF8FC;
  --purple-pale: #F3ECF8;

  // Yellow
  --yellow-light: rgba(251, 239, 179, 0.5);
  --yellow-bright: #F2CB00;

  // Neutrals
  --neutral-1: #263F3B;
  --neutral-2: #445451;
  --neutral-3: #728C88;
  --neutral-4: #B6C3C1;
  --neutral-5: #DAE1E0;
}
