:root {
  --white: #fff;

  // Green
  --green-dark: #257172;
  --green-medium: #01A58E;
  --green-bright: #58C9B9;
  --green-light: #BCE9E3;
  --green-pale: #EBF9F7;

  // Purple
  --purple-dark: #8446BC;
  --purple-bright: #D1B6E1;
  --purple-light: #FBF8FC;

  // Neutrals
  --neutral-1: #333333;
  --neutral-2: #4F4F4F;
  --neutral-3: #828282;
  --neutral-4: #BDBDBD;
  --neutral-5: #E0E0E0;
}
