$space-1: 0.2rem;
$space-2: 0.4rem;
$space-3: 0.8rem;
$space-4: 1.2rem;
$space-5: 1.6rem;
$space-6: 2.4rem;
$space-7: 3.2rem;
$space-8: 4rem;
$space-9: 4.8rem;
$space-10: 6.4rem;
$space-11: 8rem;
$space-12: 9.6rem;
$space-13: 11.2rem;
$space-14: 12.8rem;
$space-15: 14.4rem;
$space-16: 16rem;
